
<div class="container-fluid banner">
    <div class="row">
        <img src="/images/error-404.jpg" />
    </div>
    
  </div>
<div class="container error-404">
    <div class="row ">
      <h2 class="text-center">Error: Page Not Found</h2>
    </div>
</div>