<div class="container-fluid banner">
    <div class="row">
        <img src="/images/man-791049_1920.jpg" />
    </div>
    
  </div>
  <div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title"><%= blog.title %></h2>
        <p class="mb-1"><%= blog.content %></p>
      </div>
  
      
    </div>
  
  </div>
  </div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
